html
  head
    title= "Countries"
    link(rel='stylesheet', href='../style.css')
  body
    main
      .wrap
        .card
          .card-header
            img.card-img(src=country.flag, style="width:100px; height:100px;border-radius:500px;")
          .card-body
            h3.card-title #{country.name} 
            h6.card-title CODE: #{country.code}  
            h6.card-title Native Name: #{country.nativeName}
            h6.card-title Population: #{country.population}
            h6.card-title Region: #{country.region} 
